data/eng_news_2016_1M/eng_news_2016_1M-inv_so.txt filter=lfs diff=lfs merge=lfs -text
data/eng_news_2016_1M/eng_news_2016_1M-inv_w.txt filter=lfs diff=lfs merge=lfs -text
data/eng_news_2016_1M/eng_news_2016_1M-sentences.txt filter=lfs diff=lfs merge=lfs -text
data/eng_news_2016_1M/eng_news_2016_1M-sources.txt filter=lfs diff=lfs merge=lfs -text
data/eng_news_2016_1M/eng_news_2016_1M-words.txt filter=lfs diff=lfs merge=lfs -text
data/eng_news_2016_1M/eng_news_2016_1M-co_n.txt filter=lfs diff=lfs merge=lfs -text
data/eng_news_2016_1M/eng_news_2016_1M-co_s.txt filter=lfs diff=lfs merge=lfs -text
data/eng_news_2016_1M/eng_news_2016_1M-import.sql filter=lfs diff=lfs merge=lfs -text
data/gs_transcripts/segments.txt filter=lfs diff=lfs merge=lfs -text
data/SICK_annotated.txt filter=lfs diff=lfs merge=lfs -text
